<div>
  <% if comment.user == current_user %>
    <% user = "I"%>
  <% else %>
    <% user = comment.user.first_name%>
  <% end %>
  <p><strong><%= user %></strong> said on <strong><%= comment.created_at.to_date%></strong></p>
  <p><%= comment.content%></p>

  <% if current_user == comment.user%>
    <%= link_to '<button type="button" class="btn btn-success btn-sm">Edit</button>'.html_safe, edit_image_comment_path(image, comment) %> 
    <%= link_to '<button type="button" class="btn btn-danger btn-sm">Delete</button>'.html_safe, image_comment_path(image, comment), method: "delete" %> 
  <% end %>
</div>