<div class="single_image">
  
  <% if !image.is_private || (image.is_private && current_user == image.author) %>
    <%= image_tag "data:image/#{image.extension};base64,#{image.stream}"%>
    
    <p><strong>Description:</strong><%= image.description %></p>
    <p><strong>Uploaded by:</strong><%= image.author.username %></p>

    <% if image.is_private%>
      <p>ID : <%= image.id %> is private</p>
    <% end %>

    <% if current_user == image.author %>
      <%= link_to "Change", edit_image_path(image) %>
      <%= link_to "Delete", image_path(image), method: "delete"%>
    <% end %>
  <% end %>
</div>